extends layout

block content
  .category-details-container
    if category 
      h1= category.name
      p= category.description
      a.btn + Add new game
      a.btn Edit category 
      .games-container
        if games.length 
                ul 
                  each game in games
                    li
                      a(href=game.url) 
                        div.img-container
                          img(src=`${game.img_path}`)
                        p(href=game.url class="title") #{game.title}
                        p(class="studio") (#{game.studio.name})
    else 
      p Category not found 



