extends layout

block content
  .category-details
    if category 
      h1.category-details__heading #{category.name}
      p= category.description
      //- a.btn + Add new game
      a(href=`${category.url}/update` class="btn") Edit category 
      a(href=`${category.url}/delete` class="btn btn_delete") Delete category
      .games
        if games.length 
          ul.games__list-container
            each game in games
              li
                a(href=game.url) 
                  div.games__img-container
                    img(src=`${game.img_path}`)
                  p(href=game.url class="games__title") #{game.title}
                  p(class="games__studio") (#{game.studio.name})
    else 
      p Category not found 



