extends layout

block content
  .category-details-container
    div test
    //- if category 
    //-   h1= category.name
    //-   p= category.description
    //-   button.btn + Add new game
    //-   button.btn Edit category 
    //-   .games-container
    //-     if games.length 
    //-             ul 
    //-               each game in games
    //-                 li
    //-                   a(href=game.url) 
    //-                     img(src=`${game.img_path}`)
    //-                     p(href=game.url class="title") #{game.title}
    //-                     p(class="studio") (#{game.studio.name})
    //- else 
    //-   p Category not found 


