extends layout

block content
  script(scr="./orderPopup.js")
  if game
    .game-details
      h1(class="game-details__heading") #{game.title} 
      a.btn Edit
      img(src=game.img_path, alt="" class="game-details__image")
      .game-details__studio
        h5 Studio:
        a(href=game.studio.url) #{game.studio.name} 
      .game-details__release-date
        h5 Release Date:
        p= date 
      .game-details__categories
        h5 Category:
        ul
          each category in game.category
            li 
              a(href=category.url) #{category.name} 
      .game-details__price
        h5 Price: 
        p $#{game.price}
        if game.quantity > 0
          p In stock
        else 
          p Out of stock
      if game.quantity > 0
      .game-details__synopsis
        h5.game-details__synopsis-heading Synopsis: 
        p.game-details__synopsis-p #{game.summary}
  else 
    p Game not found 



