extends layout

block content
  .games-page 
    h1= title 
    a(class="btn" href="/games/create") + Add new game
    .games
      if games.length 
        ul.games__list-container
          each game in games
            li
              a(href=game.url class="games__game-container") 
                div.games__img-container
                  img(src=`${game.img_path}`)
                p(href=game.url class="games__title") #{game.title}
                p(class="games__studio") (#{game.studio.name})

