extends layout

block content
  .games-page-container 
    h1= title 
    a.btn + Add new game
    .games-container
      if games.length 
        ul 
          each game in games
            li
              a(href=game.url) 
                div.img-container
                  img(src=`${game.img_path}`)
                p(href=game.url class="title") #{game.title}
                p(class="studio") (#{game.studio.name})

