extends layout

block content
  script(scr="./orderPopup.js")
  if game
    .game-details-container
      h1= game.title 
      img(src=game.img_path, alt="")
      .studio
        h5 Studio:
        a(href=game.studio.url) #{game.studio.name} 
      .release-date
        h5 Release Date:
        p= date 
      .categories
        h5 Category:
        ul
          each category in game.category
            li 
              a(href=category.url) #{category.name} 
      .price
        h5 Price: 
        p $#{game.price}
        if game.quantity > 0
          p In stock
        else 
          p Out of stock
      if game.quantity > 0
      .synopsis
        h5 Synopsis: 
        p= game.summary
      a.btn Edit
  else 
    p Game not found 



