extends layout

block content
  if studio
    h1= studio.name
    p= studio.about
    if games.length
      ul
        each game in games 
          li 
            a(href=game.url) #{game.title} 
            img(src=game.img_path, alt="game cover")
            p $ #{game.price} 
    else 
      p There are no games for this studio

  else 
    p Studio not found 




