extends layout

block content
  .page-content
    if studio
      h1= studio.name
      p= studio.about
      //- a.btn + Add new game
      a(href=`${studio.url}/update` class="btn") Edit studio 
      a(href=`${studio.url}/delete` class="btn btn_delete") Delete studio
      .games
        if games.length 
          ul.games__list-container
            each game in games
              li
                a(href=game.url class="games__game-container") 
                  div.games__img-container
                    img(src=`${game.img_path}`)
                  p(href=game.url class="games__title") #{game.title}
                  p(class="games__studio") (#{game.studio.name})
        else 
          p There are no games for this studio
    else 
      p Studio not found 




