extends layout

block content
  .studio-details-container
    if studio
      h1= studio.name
      p= studio.about
      .games-container
        if games.length 
          ul 
            each game in games
              li
                a(href=game.url) 
                  div.img-container
                    img(src=`${game.img_path}`)
                  p(href=game.url class="title") #{game.title}
                  p(class="studio") (#{game.studio.name})
        else 
          p There are no games for this studio
    else 
      p Studio not found 




